@import url('https://fonts.googleapis.com/css?family=Cormorant:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700');

/* ---------------------------------- Color */

body {
    background-color: #E7C7C8;
    margin: 0;
    width: 100%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}

.page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 75px;
}

.heading {
    background-color: #fafafa;
}

.footer-container {
    background-color: #fafafa;
}


/* ---------------------------------- General */

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
}

p,
span {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
}

.container-fluid {
    padding: 0;
}

.col-12 {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
    padding: 0;
}

th,
td {
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
}


/* ---------------------------------- Heading */

header {
    margin: 0;
    width: 100%;
}

div .heading {
    padding: 0;
    margin: 0;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.heading-text {
    height: 120px;
    font-family: 'Cormorant', sans;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    padding-left: 12px;
    color: #3C3C3C;
}

@media (min-width: 768px) {
    .heading {
        text-align: center;
    }
    .heading-text {
        position: relative;
        padding: 25px 0px 0px;
        margin: 0;
        height: 120px;
        text-align: center;
    }
}


/* ---------------------------------- Navbar */

.menu-wide {
    justify-content: unset;
    padding: 0;
}

.menucontainer {
    margin: 120px auto 0px;
    width: 100%;
    background-color: #fafafa;
    text-align: center;
    float: none;
    border-top: 1px #E7C7C8 solid;
    position: fixed;
    z-index: 1;
}

.navbar-item {
    color: #3c3c3c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fafafa;
    text-align: center;
    border: none;
}

.list-group {
    padding: 0;
    margin: 0;
}

.navbar-item a {
    width: 20%;
    height: 30px;
    padding: 0;

}

.list-group-item .navbar-item {
padding: 15px;
}

.navbar-item.active {
    font-weight: 500;
    background-color: #fafafa;
}

.navbar-light .navbar-nav .nav-link {
    color: #3c3c3c;
}

.navbar-light .navbar-toggler {
    top: 50%;
    height: 120px;
    border: none;
    float: right;
    padding-right: 40px;
}

.navbar {
    position: fixed;
    padding: 0;
    height: 120px;
    right: 0px;
    background-color: transparent;
    z-index: 1;
}

.navbar-dropdown {
    margin: 0;
    height: 120px;
}

.navbar-nav {
    width: 100%;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgb(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.nav-item {
    width: 100vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
}

.navbar-collapse {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.nav-item.active {
    font-weight: 500;
    color: #3c3c3c;
}

/* ---------------------------------- Section */

section {
    margin-top: 120px;
    height: 100%;
}

.section-header {
    z-index: -1;
    padding-top: 10px;
    border-bottom: solid #3c3c3c 1px;
}

.section-header h3 {
    font-weight: 400;
}

.section-container {
    text-align: center;
    z-index: 0;
    margin: 12px 15px 12px 15px;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgb(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.section-content {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 5px;
    border: 1px solid #fafafa;
    min-height: 35vh;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.section-content h4 {
    font-weight: 300;
}

@media (min-width: 576px) {
    .section-header {
        text-align: center;
    }

    .section-content {
        text-align: left;
    }
}

@media (min-width: 768px) {
    section {
        margin-top: 168px;
    }

    .section-contact {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 65vh;
    }

    .section-header h3 {
        font-size: 18px;
    }
}

@media (min-height: 880px) {
    .section-contact {
        transform: translateY(5%);
    }
}

/* ---------------------------------- Section - Index */

.welcome-image img {
    width: 100%;
}

@media (max-width: 575px) {
    .welcome-image img {
        height: 60vw;
        width: 100%;
        object-fit: cover;
        object-position: -20% 0;
    }
}

.greeting-text {
    color: #878787;
    font-family: 'Pacifico', cursive;
    margin: 10px 0;
}

.welcome-greeting {
    position: relative;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}


/* ---------------------------------- Section - Gallery */

.gallery-image img {
    width: 100%;
}

.section-content-gallery {
    min-height: 10vh;
}

/* ---------------------------------- Section - Shop */

.shop-content-info {
    text-align: center;
}

.shop-content-info h5 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
}

.section-content-shop {
    min-height: 10vh;
}

.shop-text {
    margin: 0;
    font-size: 0.9em;
    font-weight: 500;
}

.shop-button {
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
    font-weight: 500;
    margin-top: 6px;
    font-size: 0.8em;
    background-color: #EB5757;
    z-index: 1;
}

.shop-button:hover {
    background-color: #F58181;
}

.shop-button-sold {
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 0.8em;
    background-color: #D5D5D5;
    z-index: 1;
    border: solid #D5D5D5 1px;
}

/* ---------------------------------- Section - Blog */

.blog-container {
    background-color: #fafafa;}

.section-content-blog {
    min-height: 30vh;
    text-align: left;
}

.blog-image img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}

.table thead th {
    border-bottom: 1px;
}

@media (min-width: 577px) {
    .blog-image img {
        height: 40vh;
        width: 100%;
        object-fit: cover;
        object-position: 0% 0%;
    }
}

@media (min-width: 769px) {
    .blog-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0% 0%;
    }
    
    .blog-container {
        text-align: -webkit-center;
    }
}

.posted-tag {
    font-size: 0.7em;
    margin-bottom: 0;
}


/* ---------------------------------- Section - Contact */
 
.section-content-contact {
    min-height: 40vh;
}
 
form > .form-group {
    margin-bottom: 0;
    padding: 3px;
}

.contact-label {
    margin-bottom: 0;
}

.contact-container h5,
.contact-text h5 {
    padding-left: 6px;
    font-weight: 400;
}

.contact-text {
    width: 100%;
}

.contact-text > p {
    margin: 2px 3px;
}

/* ---------------------------------- Footer */

footer {
    margin: 20px 0px 0px 0px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.page-footer {
    padding-top: 15px;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #fafafa;
}

.footer-item {
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
    font-size: 0.8em;
    padding: 0 10px;
}

.social-icon {
    height: 18px;
    color: #fafafa;
    background-color: #3c3c3c;
    width: 18px;
    border-radius: 50%;
    text-align: center;
    margin: 3px 0px 6px 3px;
    padding-top: 3px;
    display: inline-block;
} 

/* ---------------------------------- Hover */

.nav-navlink:hover {
    color: #b3b3b3;    
}

a:hover {
    text-decoration: none;
    color: #b3b3b3;
    cursor: default;
}

.btn-info:hover {
    cursor: default;
}

.social-icon:hover {
    background-color: #b3b3b3;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b3b3b3;
}

